*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:"Segoe UI",sans-serif;
}



body{

    background:#f7fbff;
}




header{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 60px;

    box-shadow:0 4px 20px rgba(0,0,0,.05);
}



.logo{

    display:flex;

    gap:10px;

    align-items:center;
}


.logo i{

    font-size:35px;

    color:#7fb4ff;
}



.logo h2{

    color:#7fb4ff;
}



nav{

    display:flex;

    gap:40px;
}


nav a{

    text-decoration:none;

    color:#334155;

    font-weight:600;
}




.container{

    max-width:1200px;

    margin:auto;

    padding:40px;
}



.container h1{

    color:#3b82f6;

    margin-bottom:35px;
}




.order-card{


    background:white;

    border-radius:25px;

    padding:25px;

    display:flex;

    align-items:center;

    gap:40px;

    margin-bottom:25px;

    box-shadow:0 5px 25px rgba(0,0,0,.06);

    transition:.3s;
}



.order-card:hover{

    transform:translateY(-5px);
}




.order-card img{

    width:120px;

    height:120px;

    object-fit:contain;
}



.info{

    flex:1;
}



.info h2{

    margin-bottom:15px;
}



.info p{

    margin-bottom:10px;

    color:#64748b;
}




.status{

    padding:12px 25px;

    border-radius:30px;

    font-weight:bold;
}



.delivered{

    background:#d1fae5;

    color:#16a34a;
}


.shipping{

    background:#dbeafe;

    color:#2563eb;
}



.pending{

    background:#ffedd5;

    color:#ea580c;
}



button{

    border:none;

    background:#a7c7e7;

    color:white;

    padding:14px 25px;

    border-radius:30px;

    cursor:pointer;

    transition:.3s;
}



button:hover{

    background:#7fb4ff;

    transform:scale(1.05);
}