<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apple Store</title>

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <!-- HEADER -->

    <header>

        <div class="logo">
            <i class="fa-brands fa-apple"></i>
            <h2>Ipad Việt</h2>
        </div>

        <nav>

            <a href="home.html">Home</a>

            <a href="order.html">Order</a>

            <a href="user.html">User</a>

        </nav>

        <div class="header-right">

            <div class="search-box">

                <i class="fa-solid fa-magnifying-glass"></i>

                <input type="text" placeholder="Search...">

            </div>

            <i class="fa-solid fa-cart-shopping cart"></i>

            <i class="fa-solid fa-user avatar"></i>

        </div>

    </header>





    <!-- MAIN -->

    <div class="container">


        <!-- SIDEBAR -->


        <aside class="sidebar">

            <h3><i class="fa-solid fa-bars"></i> Categories</h3>


            <div class="category">

                <h4>iPhone</h4>

                <ul>

                    <li>iPhone 13</li>

                    <li>iPhone 14</li>

                    <li>iPhone 15</li>

                    <li>iPhone 16</li>

                </ul>

            </div>



            <div class="category">

                <h4>iPad</h4>

                <ul>

                    <li>iPad Air 5</li>

                    <li>iPad Air 6</li>

                    <li>iPad Pro M2</li>

                    <li>iPad Pro M4</li>

                </ul>

            </div>


            <div class="category">

                <h4>Macbook</h4>

                <ul>

                    <li>Macbook Air M1</li>

                    <li>Macbook Air M2</li>

                    <li>Macbook Air M3</li>

                    <li>Macbook Pro M4</li>

                </ul>

            </div>



            <div class="category">

                <h4>Accessories</h4>

                <ul>

                    <li>Airpods</li>

                    <li>Apple Pencil</li>

                    <li>Magic Keyboard</li>

                </ul>

            </div>



        </aside>





        <!-- CONTENT -->



        <main class="content">



            <!-- BANNER -->



            <section class="banner">


                <div class="banner-text">

                    <h1>Discover The Best Of Apple</h1>

                    <p>

                        Experience innovation,

                        performance and elegance.

                    </p>


                    <button>Shop Now</button>

                </div>


                <div class="banner-image">

                    <img src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9"
                        alt="iphone">

                </div>


            </section>





            <!-- PRODUCTS -->



            <section class="products">



                <div class="card">

                    <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/iphone16pro">

                    <h3>iPhone 16 Pro</h3>

                    <p>$999</p>

                    <button>Add To Cart</button>

                </div>



                <div class="card">

                    <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/ipad-air">

                    <h3>iPad Air 6</h3>

                    <p>Chip M2</p>

                    <p>$699</p>

                    <button>Add To Cart</button>

                </div>



                <div class="card">

                    <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/macbook-air">

                    <h3>Macbook Air</h3>

                    <p>Chip M3</p>

                    <p>$1199</p>

                    <button>Add To Cart</button>

                </div>



                <div class="card">

                    <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/airpods-pro">

                    <h3>Airpods Pro</h3>

                    <p>$249</p>

                    <button>Add To Cart</button>

                </div>





                <div class="card">

                    <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/apple-pencil">

                    <h3>Apple Pencil</h3>

                    <p>$129</p>

                    <button>Add To Cart</button>

                </div>



                <div class="card">

                    <img src="https://store.storeimages.cdn-apple.com/1/as-images.apple.com/is/magic-keyboard">

                    <h3>Magic Keyboard</h3>

                    <p>$299</p>

                    <button>Add To Cart</button>

                </div>



            </section>



        </main>



    </div>

</body>

</html>