<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>User Profile</title>

    <link rel="stylesheet" href="assets/css/user.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>



<!-- HEADER -->


<header>


    <div class="logo">

        <i class="fa-brands fa-apple"></i>

        <h2>Ipad Việt</h2>

    </div>



    <nav>

        <a href="home.html">Home</a>

        <a href="order.html">Order</a>

        <a href="user.html">User</a>

    </nav>



</header>




<!-- PROFILE -->


<div class="container">



    <div class="profile-card">


        <div class="avatar">

            <i class="fa-solid fa-user"></i>

        </div>


        <h1>Tran Hoag Khang</h1>

        <p>khang@gmail.com</p>

        <span>Member since 2025</span>


        <button>Edit Profile</button>

    </div>





    <!-- ACCOUNT INFO -->


    <div class="info-card">

        <h2>Account Information</h2>


        <div class="row">

            <label>Full Name</label>

            <p>Tran Hoag Khang</p>

        </div>


        <div class="row">

            <label>Phone</label>

            <p>0123456789</p>

        </div>



        <div class="row">

            <label>Email</label>

            <p>khang@gmail.com</p>

        </div>



        <div class="row">

            <label>Address</label>

            <p>Ho Chi Minh City</p>

        </div>

    </div>






    <!-- STATISTIC -->



    <div class="stats">



        <div class="box">

            <h1>12</h1>

            <p>Orders</p>

        </div>




        <div class="box">

            <h1>$5600</h1>

            <p>Spent</p>

        </div>




        <div class="box">

            <h1>8</h1>

            <p>Wishlist</p>

        </div>




    </div>






    <!-- RECENT ORDERS -->


    <div class="recent">



        <h2>Recent Orders</h2>



        <div class="recent-item">

            <span>iPhone 16 Pro</span>

            <span>$999</span>

        </div>



        <div class="recent-item">

            <span>Macbook Air M3</span>

            <span>$1199</span>

        </div>




        <div class="recent-item">

            <span>iPad Air 6</span>

            <span>$699</span>

        </div>




    </div>



</div>



</body>

</html>